@font-face {
    font-family: "Sofia Pro";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/SofiaProRegular.ttf");
}

@font-face {
    font-family: "Sofia Pro";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/SofiaProRegularItalic.ttf");
}

@font-face {
    font-family: "Sofia Pro";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/SofiaProSemiBold.ttf");
}

@font-face {
    font-family: "Sofia Pro";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/SofiaProBold.ttf");
}

html {
    font-family: 'Sofia Pro' , sans-serif;
    font-weight: 400;
}


@supports (font-variation-settings: normal) {
    html {
        font-family: 'Sofia Pro', sans-serif;
    }
}

